@charset "UTF-8";
select:focus { outline: solid 2px var(--c-accent); }
select:disabled { cursor: no-drop; }

select {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;

  min-width: var(--select-minimum);
  min-height: var(--select-minimum);

  font-size: 12pt;
  border: 0;
  border-radius: var(--select-radius);
  background-color: var(--select-background);
  cursor: pointer;
  
  transition: all 0.1s;
}

option { background-color: var(--main); }