@charset "UTF-8";
:root {
  --lyra: oklch(59% 0.3 309);
  --accent: var(--lyra);
  
  --main: oklch(100% 0 0);
  --main-alt: oklch(0% 0 0);
  
  --font-color: oklch(0% 0 0);
  
  --acryl-border: solid 1px oklch(from var(--main-alt) l c h/0.15);
  --acryl-background: oklch(from var(--main) l c h/0.9);
  --acryl-background-alt: oklch(from var(--main-alt) l c h/0.15);
  --acryl-shadow: 0 2px 5px oklch(from var(--main-alt) l c h/0.05);
  --acryl-blur: blur(30px);
  --acryl-blur-light: blur(15px);

  --input-minimum: 44px;
  --input-radius: 22px;
  --input-background: oklch(from var(--accent) l 0.2 h/0.1);

  --button-minimum: 44px;
  --button-padding: 12px;
  --button-gap: 4px;
  --button-radius: 22px;
  --button-background: oklch(from var(--accent) l 0.2 h/0.1);

  --select-minimum: 44px;
  --select-radius: 22px;
  --select-background: oklch(from var(--accent) l 0.2 h/0.1);

  --label-padding: 10px;

  --toggle-width: 50px;
  --toggle-height: 30px;
  --toggle-padding: 4px;
  --toggle-radius: calc(var(--toggle-height) / 2);
  --toggle-background: oklch(from var(--accent) l 0.2 h/0.3);

  --modal-padding: 24px;
  --modal-radius: 26px;
  --modal-border: oklch(from var(--accent) 90% 0.009 h);
  --modal-background: oklch(from var(--accent) 95% 0.009 h);
  --modal-shadow: 0 0 10px oklch(0% 0 0 / 0.5);
  --modal-ani-in: cubic-bezier(0.17, 0.67, 0.17, 1);

  --modal-inner-padding: 8px;
  --modal-inner-radius: 22px;

  --menuset-padding: 4px;
  --menuset-gap: 2px;
  --menuset-size: 48px;
  --menuset-radius: calc((var(--menuset-size) + 2px + var(--menuset-padding)*2)/2);
  --menuset-border: var(--acryl-border);
  --menuset-background: var(--acryl-background);
  --menuset-background-alt: var(--acryl-background-alt);
  --menuset-shadow: var(--acryl-shadow);
  --menuset-filter: var(--acryl-blur);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main: oklch(0% 0 0);

    --font-color: oklch(100% 0 0);

    --modal-border: oklch(from var(--accent) 30% 0.009 h);
    --modal-background: oklch(from var(--accent) 25% 0.009 h);
  }
}