@charset "UTF-8";
:root {
  --c-menu-shadow: oklch(0% 0 0/0.1);
  --op-menu-shadow: 0 2px 3px var(--c-menu-shadow);

  --i-menu-size: 48px;
}

/* 주 메뉴 영역 */
#menu-area {
  display: flex;
  position: absolute;
  padding: var(--p);
  gap: var(--p);
  top: 0;
  left: 0;
  z-index: 1;

  max-width: 100dvw;
  max-height: 100dvh;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

#menuzone {
  position: relative;
  z-index: 1;

  height: 100%;
}
#menuzone > .wrap {
  height: 100%;

  pointer-events: none;
}

#sidezone {
  position: relative;
  z-index: 0;

  width: 100%;
  height: 100%;
  flex: 1;
}

.menu {
  display: none;
  flex-direction: column;
  overflow: hidden;
  /* margin: var(--p); */

  max-width: inherit;
  width: 400px;
  height: 100%;

  /* outline: solid 1px var(--c-border); */
  border: solid 1px var(--c-border);
  /* border-radius: var(--r); */
  border-radius: calc((var(--i-menu-size) + 2px + var(--p-small)*2)/2);
  animation: cubic-bezier(.17, .67, .49, .99) 0.25s ani-window-in;
  box-shadow: var(--op-menu-shadow);
  pointer-events: auto;

  /* background-color: var(--c-main); */
  background-color: oklch(from var(--c-main) l c h/0.95);
  backdrop-filter: blur(30px);
}
@keyframes ani-menu-in {
  from {
    transform: translateX(-100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
#menuzone > input[type=checkbox]:checked+.menu { display: block; }
.menu label:has(input[type=range]) { background: unset; }

.menu > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 61px;

  border-bottom: solid 1px var(--c-border);
}
.menu > .title > h2 { padding: var(--p-large) var(--p-large) var(--p) var(--p-large); }
.menu > .title > button {
  justify-content: center;
  margin: var(--p);

  width: 36px;
  height: 36px;

  /* border-left: solid 1px var(--c-border); */
  border-radius: 50%;
  background-color: transparent;
}
.menu > .title > button:focus { outline: unset; }

.menu > .wrap {
  gap: var(--m);
  padding: var(--p-large);
  overflow-y: scroll;

  width: inherit;
  height: max-content;
}
.menu > .wrap > *:not(:last-child) { margin-bottom: var(--m); }
.menu > .wrap > h4:not(:first-child),
.menu > .wrap > .menu-title:not(:first-child) { margin-top: calc(var(--m-large) * 2); }
.menu > .wrap > .divline-row { margin-top: var(--m-large); }

/* 메뉴 - 슬라이드 */
.scroll-box-inner, #slide-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--m);

  width: 100%;
  height: max-content;
}

#slide-list.no-thumbnail .thumb { display: none; }

.slide-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  overflow: hidden;

  min-height: 44px;
  width: 100%;
  height: max-content;

  border-radius: 22px;
  background-color: var(--button-background);
  cursor: pointer;
}
.slide-item > .thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  max-height: 202px;
  min-height: 45px;
  width: 100%;
  height: max-content;

  background-color: black;
  pointer-events: none;
}
.slide-item > .thumb > img {
  max-width: 100%;
  max-height: inherit;
}

.active-slide::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: calc(100% - 6px);
  height: calc(100% - 6px);

  border: solid 3px var(--c-accent);
  border-radius: inherit;
  pointer-events: none;
  content: "";
}
.active-slide p {
  font-weight: 900;
  color: var(--c-accent);
}

.slide-item-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;

  width: 100%;
  
  pointer-events: none;
}
.slide-item-menu > button {
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
}

/* 메뉴 - 대화창 */
.input-content {
  min-height: 100px;
  resize: none;
}

/* 사도 색상표 */
.color-preset-subdiv {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-bottom: var(--p);
  width: 100%;
}
.color-preset-subdiv:not(:last-child) {
  border-bottom: solid 2px var(--c-button);
}
.color-preset-subdiv > :first-child {
  grid-column: 1 / -1;
  margin-top: var(--m-large);
  padding: var(--p-small);

  font-size: 14pt;
  font-weight: 600;
}

.color-preset-item {
  position: relative;
  margin: var(--m-tiny);
  padding: var(--p-small);
  overflow: hidden;

  border-style: solid;
  border-width: 48px 2px 2px 2px;
  border-radius: var(--r);

  cursor: pointer;
}
.color-preset-item::before {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: var(--c-button-cover);
  opacity: 0;
  content: "";

  transition: opacity var(--t-transition) linear;
  will-change: opacity;
}
.color-preset-item:hover::before {
  opacity: 0.1;
}
.color-preset-item > span {
  font-size: 8pt;
}

/* 메뉴 - 앱 정보 */
.about-thumbnail {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}

/* 플로팅 메뉴 */
#float-menu-area {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: calc(var(--p) / 2) 0;

  width: 100%;
  height: max-content;

  pointer-events: none;
}
#float-menu-area > * { padding: calc(var(--p) / 2) var(--p); }

#float-menu-area > .tip-row {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: max-content;

  pointer-events: none;
}

#float-menu-area > .tip-row > .tip:not(:empty) {
  padding: var(--p);

  color: var(--c-black);
  border-radius: var(--r);
  background-color: var(--c-accent);
  box-shadow: var(--op-menu-shadow);
}

#float-menu-area > .row {
  overflow-x: auto;
  overflow-y: hidden;

  width: 100%;
  height: max-content;
}

#float-menu-area > .row > .wrap {
  display: flex;
  margin: 0 auto;
  gap: var(--p);

  width: max-content;
  height: max-content;
}

.float-menu {
  display: flex;
  padding: var(--p-small);
  overflow: hidden;

  width: max-content;
  height: calc(var(--i-menu-size) + 2px + var(--p-small)*2);

  border: solid 1px var(--c-border);
  border-radius: calc((var(--i-menu-size) + 2px + var(--p-small)*2)/2);
  background-color: oklch(from var(--c-main) l c h/0.9);
  box-shadow: var(--op-menu-shadow);
  backdrop-filter: blur(30px);
  pointer-events: auto;

  animation: cubic-bezier(.17, .67, .49, .99) 0.25s ani-float-menu-in;
}
@keyframes ani-float-menu-in {
  from {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.float-menu > .partition {
  margin: 0 var(--p);
  width: 1px;
  height: 100%;

  background-color: var(--c-border);
}

.float-menu > a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: var(--button-gap);
  margin: 0;
  padding: var(--button-padding);
  overflow: hidden;
  box-sizing: border-box;

  min-width: var(--button-minimum);
  min-height: var(--button-minimum);

  color: var(--c-font);
  border: unset;
  border-radius: var(--button-radius);
  background-color: var(--button-background);
}
.float-menu > a > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  pointer-events: none;
}
.float-menu > a::before {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background-color: var(--c-button-cover);
  opacity: 0;
  content: "";

  transition: opacity var(--t-transition) linear;
  will-change: opacity;
}
.float-menu > a:hover::before { opacity: 0.1; }

.float-menu > button,
.float-menu > a {
  padding: unset;
  justify-content: center;
  padding: var(--p-large);
  
  min-width: var(--i-menu-size);
  min-height: var(--i-menu-size);
  
  border-radius: calc(var(--i-menu-size)/2);
  background-color: unset;
}
.float-menu > button:focus,
.float-menu > a:focus { outline: unset; }
.float-menu > button.active,
.float-menu > a:active { background-color: var(--c-accent); }
.float-menu > .logo { background: no-repeat center center/32px url("../assets/essentials/logo-black.svg"); }
@media (prefers-color-scheme: dark) { .float-menu > .logo { background-image: url("../assets/essentials/logo-white.svg");} }

.ii-image { background-image: url("../assets/theater/thumbnails/thumbnail-image.svg"); }
.ii-dialogue { background-image: url("../assets/theater/thumbnails/thumbnail-dialogue.svg"); }
.ii-sticker { background-image: url("../assets/theater/thumbnails/thumbnail-sticker.svg"); }

@media screen and (max-width: 1600px) {
  #menuzone > .wrap { height: calc(100dvh - var(--i-menu-size) - var(--p)*4); }
}

@media screen and (max-width: 700px) {
  #menuzone {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--p);

    width: 100%;
    height: calc(100dvh - var(--i-menu-size) - var(--p)*2);

    pointer-events: none;
  }

  #menuzone > .wrap {
    width: 100%;
    height: 100%;
  }

  .menu {
    width: 100%;
    height: 100%;

    pointer-events: auto;
  }
 
  /* 사도 색상표 */
  .color-preset-subdiv { grid-template-columns: repeat(2, 50%); }
}