@charset "UTF-8";
#image-item-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column-reverse;
  gap: var(--m);

  width: 100%;
}

.image-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;

  width: 100%;
  height: 44px;

  border-radius: 22px;
  background-color: var(--button-background);
  cursor: pointer;
}
.image-item > .thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  /* border-right: solid 1px var(--c-border); */
  background-color: var(--c-black);
  pointer-events: none;
}
.image-item > .thumb > img {
  max-width: 44px;
  max-height: 44px;
  pointer-events: none;
}
.image-item > p {
  padding: 0 4px;
  overflow: hidden;

  flex: 1;
  width: 100%;

  font-size: 10pt;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
.image-item > p > * { color: inherit; }
.image-item-darker {
  filter: brightness(0.3);
}

.image-item button { background-color: transparent; }

.object-sticker {
  position: relative;
}
.object-sticker > img {
  position: absolute;

  width: 100%;
  height: 100%;
}

.object-dialogue {
  /* display: grid; */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
  /* padding: 30px; */

  border: solid 5px var(--c-black);
  background-color: var(--c-black);
}
.object-dialogue > p {
  position: relative;
  padding: 0 30px;

  min-width: max-content;
  min-height: max-content;
  z-index: 1;

  color: var(--c-trickcal-font);
  font-size: 16pt;
}
.object-dialogue::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  content: "";
  border: solid 5px var(--c-black);
  background-color: var(--c-black);
  transform: translate(-20px, 12px);
}
.object-dialogue::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  content: "";
  background-color: var(--c-white);
}

.object-dialogue > .bg-area {
  position: absolute;

  width: 100%;
  height: 100%;
}
.object-dialogue > .bg-area > img {
  display: none;
  position: absolute;

  width: 100%;
  height: 100%;
}
.object-dialogue > .bg-area > img.arrow-10,
.object-dialogue > .bg-area > img.arrow-20 {
  width: 40px;
  height: auto;
}
.object-dialogue > .bg-area > img.next-10,
.object-dialogue > .bg-area > img.next-20 {
  right: 25px;
  bottom: 25px;

  width: 16px;
  height: auto;
}

.object-dialogue.theme-1,
.object-dialogue.theme-2 {
  border: none;
  background-color: transparent;
}

.object-dialogue.theme-0.sizing-0 {
  min-width: 250px;
  min-height: 150px;

  width: max-content !important;
  height: max-content !important;
}
.object-dialogue.theme-0.sizing-1 {
  width: 165px !important;
  height: 165px !important;
}
.object-dialogue.theme-0.sizing-2 {
  width: 260px !important;
  height: 165px !important;
}
.object-dialogue.theme-0.sizing-3 {
  width: 350px !important;
  height: 165px !important;
}
.object-dialogue.theme-0.sizing-4 {
  width: 550px !important;
  height: 165px !important;
}

.object-dialogue.theme-0.positioning-0,
.object-dialogue.theme-0.positioning-2 { transform: rotate(-3deg); }

.object-dialogue.theme-0.positioning-1,
.object-dialogue.theme-0.positioning-3 { transform: rotate(3deg); }

.object-dialogue.theme-0.positioning-0::before { transform: translate(-20px, -20px); }
.object-dialogue.theme-0.positioning-1::before { transform: translate(12px, -20px); }
.object-dialogue.theme-0.positioning-2::before { transform: translate(-20px, 12px); }
.object-dialogue.theme-0.positioning-3::before { transform: translate(12px, 12px); }

.object-dialogue.theme-0 > .bg-area { display: none; }

.object-dialogue.theme-1::before,
.object-dialogue.theme-1::after,
.object-dialogue.theme-2::before,
.object-dialogue.theme-2::after { content: none; }

.object-dialogue.theme-1.sizing-0,
.object-dialogue.theme-2.sizing-0 {
  min-width: 250px;
  min-height: 150px;

  width: max-content !important;
  height: max-content !important;
}
.object-dialogue.theme-1.sizing-1,
.object-dialogue.theme-2.sizing-1 {
  width: 250px !important;
  height: 150px !important;
}
.object-dialogue.theme-1.sizing-2,
.object-dialogue.theme-2.sizing-2 {
  width: 350px !important;
  height: 150px !important;
}
.object-dialogue.theme-1.sizing-3,
.object-dialogue.theme-2.sizing-3 {
  width: 500px !important;
  height: 150px !important;
}
.object-dialogue.theme-1.sizing-4,
.object-dialogue.theme-2.sizing-4 {
  width: 600px !important;
  height: 150px !important;
}

.object-dialogue.theme-1.sizing-0 > .bg-area > .bg-10 { display: block; }
.object-dialogue.theme-1.sizing-1 > .bg-area > .bg-10 { display: block; }
.object-dialogue.theme-1.sizing-2 > .bg-area > .bg-11 { display: block; }
.object-dialogue.theme-1.sizing-3 > .bg-area > .bg-12 { display: block; }
.object-dialogue.theme-1.sizing-4 > .bg-area > .bg-13 { display: block; }
.object-dialogue.theme-1 > .bg-area > .arrow-10 { display: block; }
.object-dialogue.theme-1 > .bg-area > .next-10 { display: block; }

.object-dialogue.theme-2.sizing-0 > .bg-area > .bg-20 { display: block; }
.object-dialogue.theme-2.sizing-1 > .bg-area > .bg-20 { display: block; }
.object-dialogue.theme-2.sizing-2 > .bg-area > .bg-21 { display: block; }
.object-dialogue.theme-2.sizing-3 > .bg-area > .bg-22 { display: block; }
.object-dialogue.theme-2.sizing-4 > .bg-area > .bg-23 { display: block; }
.object-dialogue.theme-2 > .bg-area > .arrow-20 { display: block; }
.object-dialogue.theme-2 > .bg-area > .next-20 { display: block; }

.object-dialogue.theme-2 > p { color: var(--c-trickcal-font-sokmaeum); }

.object-dialogue.positioning-0 > .bg-area > .arrow-10,
.object-dialogue.positioning-0 > .bg-area > .arrow-20 {
  left: 10%;
  top: -8px;

  transform: scaleY(-1);
}

.object-dialogue.positioning-1 > .bg-area > .arrow-10,
.object-dialogue.positioning-1 > .bg-area > .arrow-20 {
  right: 10%;
  top: -8px;

  transform: scaleY(-1) scaleX(-1);
}

.object-dialogue.positioning-2 > .bg-area > .arrow-10,
.object-dialogue.positioning-2 > .bg-area > .arrow-20 {
  left: 10%;
  bottom: -8px;
}

.object-dialogue.positioning-3 > .bg-area > .arrow-10,
.object-dialogue.positioning-3 > .bg-area > .arrow-20 {
  right: 10%;
  bottom: -8px;

  transform: scaleX(-1);
}

.object-dialogue.positioning-4 > .bg-area > .arrow-10,
.object-dialogue.positioning-4 > .bg-area > .arrow-20 { display: none; }

.object-filter {
  overflow: visible;

  width: 100% !important;
  height: 100% !important;

  background-color: red;
  pointer-events: none !important;
}
.object-filter.cinemascope {
  background: no-repeat center/100% url("../assets/theater/filter/cinemascope.svg") transparent;
}

.active-image-item::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: calc(100% - 6px);
  height: calc(100% - 6px);

  border: solid 3px var(--c-accent);
  border-radius: inherit;
  pointer-events: none;
  content: "";
}
.active-image-item p {
  font-weight: 900;
  color: var(--c-accent);
}