@charset "UTF-8";
.fais { align-items: flex-start !important;}
.faic { align-items: center !important; }
.faie { align-items: flex-end !important; }

.fjcs { justify-content: flex-start !important; }
.fjcc { justify-content: center !important; }
.fjce { justify-content: flex-end !important; }
.fjcb { justify-content: space-between !important; }

.wf { width: 100% !important; }
.hf { height: 100% !important; }
.f1 { flex: 1 !important; }
.wfix {
  max-width: 100% !important;
  min-width: max-content !important;
}
.hfix {
  max-height: 100% !important;
  min-height: max-content !important;
}

.wm50 { width: 50px !important; }
.wm400 { width: 400px !important; }
.wm600 { width: 600px !important; }

.hm200 { height: 200px !important; }
.hm300 { height: 300px !important; }

.oh { overflow: hidden !important; }

#watermark {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  padding: 6px;
  z-index: 9999;
  box-sizing: border-box;

  font-size: 10pt;
  color: oklch(70% 0 0/0.5);
  border-radius: 4px;
  text-align: right;
  pointer-events: none;
}

@media screen and (min-width: 900px) {
  .m-show-flex { display: none !important; }
}
@media screen and (max-width: 900px) {
  .m-hide { display: none !important; }
  .m-show-flex { display: flex; }
  .m-menu-expand { display: block !important; }
  
  .notification { padding: var(--p-large); }
}