@charset "UTF-8";
:root {
  --header-height: 61px;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html, body {
  width: 100dvw;
  height: 100dvh;
}

body {
  display: grid;
  position: relative;
}

.pad {
  flex: 1;
  width: 100%;
  height: 100%;
}

/* 상단 메뉴 */
header {
  display: flex;
  position: absolute;
  padding: var(--p);
  gap: var(--p-small);
  z-index: 2;

  width: 100%;
  height: var(--header-height);
  
  border-bottom: solid 1px var(--modal-border);
  background-color: var(--acryl-background);
  backdrop-filter: var(--acryl-blur-light);
}

header button:focus,
header a:focus {
  outline: none;
}
#button-menu { display: none; }

header a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: var(--button-gap);
  margin: 0;
  padding: var(--button-padding);
  overflow: hidden;
  box-sizing: border-box;

  min-width: var(--button-minimum);
  min-height: var(--button-minimum);
  height: var(--button-minimum);

  color: var(--c-font);
  text-decoration: none;
  border: unset;
  border-radius: var(--button-radius);
  background-color: var(--button-background);
}
header a > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  pointer-events: none;
}
header a::before {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background-color: var(--c-button-cover);
  opacity: 0;
  content: "";

  transition: opacity var(--t-transition) linear;
  will-change: opacity;
}
header a:hover::before { opacity: 0.1; }

#logo {
  gap: var(--p);

  font-weight: bold;
  background-color: transparent;
}

#icon {
  width: 30px;
  height: 30px;

  background: no-repeat center/100% url("../../assets/essentials/logo-accent.svg");
}

/* 주 영역 */
#main {
  display: flex;
  position: relative;
}

/* 주 메뉴 */
#menu {
  position: relative;
  overflow-y: scroll;
  z-index: 1;

  margin-top: var(--header-height);

  width: 300px;
  height: calc(100% - var(--header-height));

  border-right: solid 1px var(--modal-border);
  background-color: var(--acryl-background);
  backdrop-filter: var(--acryl-blur-light);
}

#menu > h1 {
  margin: var(--p-large);
  padding: var(--p-large) 0 var(--p);

  border-bottom: solid 1px var(--modal-border);
  font-size: 1em;
  user-select: none;
}

#menu > h2 {
  margin: var(--p-large);
  padding: var(--p-large) 0 var(--p);

  color: oklch(from var(--font-color) l c h/0.6);
  font-size: 1em;
  user-select: none;
}

#menu > ol {
  display: flex;
  flex-direction: column;
  margin: var(--p-large);

  height: max-content;

  list-style: none;
}

#menu > ol > li a {
  display: inline-block;
  padding: var(--button-padding);

  width: 100%;
  height: var(--button-minimum);

  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: var(--button-radius);
  opacity: 0.6;

  transition: all ease-in-out 0.1s;
}
#menu > ol > li a:hover {
  background-color: var(--button-background);
  opacity: 1;
}
#menu > ol > li a:focus {
  outline: none;
}
#menu > ol > li a::before {
  display: inline-block;
  margin-right: var(--p);
  margin-bottom: 1px;
  box-sizing: border-box;

  width: 8px;
  height: 8px;

  border: solid 1px var(--font-color);
  border-radius: 50%;
  content: "";
}

#menu > ol > li a.active {
  background-color: var(--button-background);
}
#menu > ol > li a.active::before {
  border: solid 1px var(--accent);
  background-color: var(--accent);
  content: "";
}

/* 주 화면 */
main {
  position: relative;
  overflow-y: scroll;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: var(--main);
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;
}

.wrap {
  margin: 0 auto;

  max-width: 760px;
  width: 100%;
}

article {
  overflow: unset;

  padding: calc(50px + var(--header-height)) 0 70px;
}
article * {
  overflow: unset;
}

footer {
  padding: var(--p);

  text-align: center;
  border-top: solid 1px var(--modal-border);
}

footer p {
  opacity: 0.5;
}

/* 글 영역 */
article > .wrap,
#content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 15px;
}

#title {
  padding: 20px 0 50px;
  margin-bottom: 15px;

  font-size: 2rem;
  border-bottom: solid 1px var(--modal-border);
}

article figure,
article figure * {
  max-width: 100%;
}

article figure img {
  border-radius: var(--r);
}

article figure a {
  text-decoration: none;
}
article figure a:focus {
  outline: none;
}

article figure > figcaption {
  margin-top: var(--p);

  font-size: small;
  font-style: italic;
  text-align: center;
  opacity: 0.5;
}

article hr {
  margin: 15px 0;
  
  height: 1px;

  border: none;
  background-color: var(--modal-border);
}

article ol,
article ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 1em;
}

article .pad {
  min-height: 30px;
}

/* 로딩 효과 */
.loading {
  display: flex;
  flex-direction: column;
  gap: var(--p-large);
}
.loading > div {
  max-width: 100%;
  width: 500px;
  height: 1.5rem;

  border-radius: var(--r);
  background-color: var(--button-background);
}

@media screen and (max-width: 1200px) {
  .mobile-hide {
    display: none !important;
  }
  
  /* 상단 메뉴 */
  #button-menu { display: flex; }

  /* 주 메뉴 */
  #menu {
    display: none;
    position: absolute;

    width: 100%;

    border-right: none;
  }
  #menu.show {
    display: block;
  }

  /* 주 화면 */
  .wrap {
    max-width: unset;
    width: 90%;
  }

  article {
    padding: calc(50px + var(--header-height)) 0 50px;
  }

  /* 글 영역 */
  #title {
    padding: 10px 0 30px;
  }
}